**EXERCISE 1.** 
What is the normal body temperature for healthy humans? A random sample of 130 healthy human body temperatures provided by Allen Shoemaker yielded 98.25 degrees and standard deviation 0.73 degrees. 

Give a 99% confidence interval for the average body temperature of healthy people.**

In [3]:
import numpy as np
import scipy.stats as stats
import pandas as pd

In [4]:
n = 130
mu = 98.25
alpha = 0.01
std = 0.73
sem =  std / np.sqrt(n)

In [23]:
zalpha = 2.576

In [24]:
min = mu - (zalpha * (std/np.sqrt(n)))
min

98.08507099358535

In [25]:
max = mu + (zalpha * (std/np.sqrt(n)))
max

98.41492900641465

In [6]:
# WITH SHORT METHOD

stats.t.interval(confidence=0.99, df=n-1, loc=mu, scale=sem)

(98.08260738705933, 98.41739261294067)

**EXERCISE 2.**
The administrators for a hospital wished to estimate the average number of days required for inpatient treatment of patients between the ages of 25 and 34. A random sample of 500 hospital patients between these ages produced a mean and standard deviation equal to 5.4 and 3.1 days, respectively.


Construct a 95% confidence interval for the mean length of stay for the population of patients from which the sample was drawn.

In [7]:
n = 500
mu = 5.4
std = 3.1
alpha = 0.05
sem = std / np.sqrt(n)

In [27]:
zalpha = 1.96

In [28]:
min = mu - (zalpha * (std/np.sqrt(n)))
min

5.128273019374226

In [29]:
max = mu + (zalpha * (std/np.sqrt(n)))
max

5.671726980625775

In [8]:
# WITH SHORT METHOD

stats.t.interval(confidence=0.95, df=n-1, loc=mu, scale=sem)

(5.127617354510309, 5.672382645489692)

**EXERCISE 3.**
The hourly wages in a particular industry are normally distributed with mean $13.20 and standard deviation $2.50. A company in this industry employs 40 workers, paying them an average of $12.20 per hour. Can this company be accused of paying substandard wages? Use an α = .01 level test. (Wackerly, Ex.10.18)

CHECK: statistic: -2.5298221281347035, pvalue= 0.005706018193000826

In [10]:
mu = 13.20
sigma = 2.5
alpha = 0.01
n = 40
xbar = 12.20

In [11]:
# H0 = mu = 13.20
#H1 = mu != 13.20

In [17]:
t = (xbar - mu) / (sigma / np.sqrt(n))
p = stats.t.cdf(t, df=n-1)

print(f"t value is: {t}")
print(f"p value is: {p}")

t value is: -2.5298221281347035
p value is: 0.0077816812266594355

In [ ]:
  # p value is smaller than alpha. So the company company pays substandard wages.

**EXERCISE 4.**
Shear strength measurements derived from unconfined compression tests for two types of soils gave the results shown in the following document (measurements in tons per square foot). Do the soils appear to differ with respect to average shear strength, at the 1% significance level?

Results for two type of soils

CHECK: statistic: 5.1681473319343345, pvalue= 2.593228732352821e-06

In [19]:
df = pd.read_csv("soil.csv")

In [20]:
df.head()

   Soil1  Soil2
0  1.442  1.364
1  1.943  1.878
2  1.110  1.337
3  1.912  1.828
4  1.553  1.371

In [21]:
df.isnull().sum()

Soil1    5
Soil2    0
dtype: int64

In [22]:
leveneTest = stats.levene(df.Soil1.dropna(), df.Soil2)
leveneTest

LeveneResult(statistic=0.31486292982090475, pvalue=0.5767018253541134)

In [23]:
indTest = stats.ttest_ind(df["Soil1"].dropna(), df["Soil2"], equal_var = True)
indTest

Ttest_indResult(statistic=5.1681473319343345, pvalue=2.59322873235282e-06)

In [ ]:
  # p value is smaller than alpha. So we reject H0 hyphotesis.

**EXERCISE 5.**
The following dataset is based on data provided by the World Bank (https://datacatalog.worldbank.org/dataset/education-statistics). World Bank Edstats.  2015 PISA Test Dataset

Get descriptive statistics (the central tendency, dispersion and shape of a dataset’s distribution) for each continent group (AS, EU, AF, NA, SA, OC).
Determine whether there is any difference (on the average) for the math scores among European (EU) and Asian (AS) countries (assume normality and equal variances). Draw side-by-side box plots.
CHECK: statistic=0.870055317967983, pvalue=0.38826888111307345

In [24]:
df2 = pd.read_csv("2015 PISA Test - Sheet1.csv")

In [25]:
df2.head()

,Country Code,Continent_Code,internet_users_per_100,Math,Reading,Science
0,ALB,EU,63.252933,413.1570,405.2588,427.2250
1,ARE,AS,90.500000,427.4827,433.5423,436.7311
2,ARG,SA,68.043064,409.0333,425.3031,432.2262
3,AUS,OC,84.560519,493.8962,502.9006,509.9939
4,AUT,EU,83.940142,496.7423,484.8656,495.0375

In [27]:
df2.isnull().sum()

Country Code              0
Continent_Code            5
internet_users_per_100    0
Math                      0
Reading                   0
Science                   0
dtype: int64